DATABASE_URL="file:./prisma/data.db"
PORT=3001
NODE_ENV=development
BASE_PATH="/underconstruction"
# Backend (PHP)
UC_DB_HOSTS=mysql.wbrazilsoftwares.com.br,mysql50-farm1.kinghost.net
UC_DB_NAME=wbrazilsoftwar
UC_DB_USER=wbrazilsof_add1
UC_DB_PASS=COLOQUE_SUA_SENHA_AQUI
UC_DB_CHARSET=utf8mb4
